body {
    background-color: #f1faee;
}
.main-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    flex: 0 1 150px;
    margin: 5px;
}

.main-title {
    text-align: center;
    font-size: 2rem;
    background-color: #1d3557;
    margin: 10px;
    padding: 30px;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.product-select-article {
    display: flex;
    justify-content: center;
    background-color: #457b9d;
    margin: 10px;
    padding: 1em;
}

.blue-container {
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin: 10px;
    padding: 1em;
    background-color: #457b9d;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.blue-container>button {
    background-color: #e63946;
    border: none;
    padding: 0 1em;
    font-weight: bold;
}

.blue-container>label {
    display: block;
    align-self: center;
}

.blue-container>select {
    background-color: #f1faee;
    border: none;
    color: #313131;
    padding: .5em;
    margin: 0 1em;
}

.blue-container>p {
    font-size: 1.3em;
    display: block;
    border: 1px solid #1d3557;
    padding: 1rem;
}

.staff-button-article {
    background-color: #a8dadc;
    display: flex;
    justify-content: center;
    align-content: space-between;
    padding: 1em;
    margin: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.staff-button {
    background-color: #1d3557;
    border: none;
    padding: 1rem 2rem;
    color: white;
}

.staff-button:hover {
    color: #e63946;
    cursor: pointer;
}

.staff-button:focus {
    color: #e63946;
    border-bottom: 2px solid #e63946;
}

.styled-table {
    border-collapse: collapse;
    margin: 10px;
    font-size: 1em;
    font-family: sans-serif;
    text-align: center;
    min-width: 475px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #1d3557;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #457b9d;
}